aiohttp
aiosignal
asttokens
attrs
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
datasets
debugpy
decorator
dill
executing
filelock
fonttools
frozenlist
fsspec
huggingface-hub
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
multidict
multiprocess
nest-asyncio
nltk
numpy
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
pyarrow
pyarrow-hotfix
Pygments
pyparsing
python-dateutil
pytz
pywin32
PyYAML
pyzmq
regex
requests
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
xxhash
yarl
